@model ProyectoFinalDesarrolloWeb.Models.PermisoModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar el siguiente registro?</h3>
<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.menu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.menu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.controlador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.controlador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
